body{
    min-height: 100vh;
    background-color: #007AFF;
    
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}